.sticker-item {
  width: 190px;
  margin: 0 15px;

  .figure {
    background-color: white;
    perspective: 1400px;
    position: relative;

    .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      //width: 176px;
      width: 175px;
      border: 2px solid #b3b2b2;
      padding: 26px 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
      box-shadow: 3px 5px 10px #aaaaaa;
      transform-origin: 0% 50%;
      transition: all 0.4s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
      }

      .placeholder {
        position: absolute;
        margin-bottom: 20px;
        max-width: 50px;
        text-transform: uppercase;
      }
    }
  }

  .info {
    p {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
