.card {
  //width: 550px;
  //height: 420px;
  border-radius: 16px;
  padding: 12px 48px 24px 48px;
  background: linear-gradient(0deg, rgba(0, 21, 40, 0.6), rgba(0, 21, 40, 0.6)), #062AB8;
  box-shadow: 0 5.29461px 52.9461px rgba(0, 32, 187, 0.2);
  cursor: pointer;

  .title, .text {
    color: #fff
  }
}
