.page-left {
  display: flex;
  flex-direction: column;

  > div:first-child {
    margin-bottom: 44px;
  }

  .row {
    display: flex;
    //flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    justify-content: space-around;

    > div {
      width: 30%;
      margin: 0;
    }
  }
}
