@import "../../shared/styles/styles";

.set-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin: 20px 0 40px;

  span {
    margin-bottom: 6px;
  }
}

.set-block {
  display: flex;
  justify-content: center;
}

.sticker-item-wrapper {
  padding: 15px 0 5px;

  .heading {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .sticker-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  .buttons-group {
    max-width: 38%;
    margin: 0 auto;
  }
}

.sticker-set-item {
  flex-basis: 166px;
  max-width: 166px;
  margin: 10px 15px 60px;

  button {
    font-weight: 700;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #b3b2b2;
    padding: 30px 10px 46px;
    margin-bottom: 20px;
    box-shadow: 3px 5px 11px #aaaaaa;
    transform-origin: 0% 50%;
    transition: all 0.4s ease;

    &:hover {
      transform: rotateY(-10deg);
      box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
    }

    p:last-child {
      font-weight: 700;
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-family: $font-poppins;
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 40px;

      span:last-child {
        color: #eb6d00;
      }
    }
  }
}
